@import "tailwindcss";
/* In your global CSS (index.css or App.css) */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6; /* Tailwind's bg-gray-100 hex */
  justify-content: center;
  align-items: center;
}